@using System.Threading
@using System.Timers
@using MVC_mcs_Ajax.Models
@using Timer = System.Timers.Timer
@{
   
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Здавствуйте!</h1>
    <p>Не трогайте edmx файл , так как если вы его измените может полететь всё приложение.Используйте локальную базу данных , так как в ней уже все связи настроены и т.д.</p>

</div>

<div class="row">
    <div class="col-md-12" id="TestTimer">
        <img src="~/Content/loader/@LoaderModel.GetRandomLoader()" width="350" height="350" id="ImageTest" class="center-block" />
        <h3 class="text-center">Просто загрузка</h3>
    </div>
</div>
